<!-- Used by theme-projects-builtin-1 -->

  <div class="card">
    {% if include.page.image %}
      <div class="blurring dimmable image">
        <div class = "ui dimmer">
          <div class = "content">
            
              {% if page.projecturl %}
                <a class="ui center" href="{{ page.projecturl }}">{{include.page.title}}</a>
              {% else %}
                <a class="ui center" href="{{ site.baseurl}}{{ include.page.url }}">{{include.page.title}}</a>
              {% endif %}   
     
          </div>
        </div>
        <img src="{{ site.baseurl }}/{{ include.page.image }}">
      </div>
    {% endif %}
  </div>



