<!-- Used by theme-projects-builtin-1 -->

  <div class="card">
    {% if include.page.image %}
      <div class="blurring dimmable image">
        <div class = "ui dimmer">
          <div class = "content">
            <div class = "center">
             
                <a style = "background-color:black" href="{{ page.projecturl }}" class = "ui inverted button">
                  {{ include.page.title }}
                </a>
             
                
            </div>
          </div>
        </div>
        <img src="{{ site.baseurl }}/{{ include.page.image }}">
      </div>
    {% endif %}

  </div>

